* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(100, 102, 101);
}

main {
    height: 100%;
}

.pai {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filho {
width: 200px;
height: 200px;
background-color: aliceblue;
border: 2px, solid;
}